header h1 {
   font-size: 2em;
   margin-bottom: 20px;
}

body {
   font-family: 'Playfair Display', serif;
   max-width: 100%;
   margin: auto;
   padding: 20px;
   background-image: url("background-orchestra.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

body::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6); 
   z-index: -1;
}

.content {
   background-color: #fff9e8;
   padding: 30px;
   border-radius: 16px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   max-width: 900px;
   margin: 40px auto;
}

h1, h2 {
   text-align: center;
   color: #b28b67;
   text-shadow: 1px 1px 2px #000;
}

p {
   text-align: center;
   color: #7a5032;
}

figure {
   margin: 20px auto;
   text-align: center;
}

iframe {
   display: block;
   margin: 10px auto 20px auto;
}

audio {
   display: block;
   margin: 10px auto;
}

section {
   margin-bottom: 40px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 20px;
}

footer p {
   color: #fff9e8; /* milky white */
}